name: Node Lint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'

      - name: npm lint
        run: |
          npm ci
          npm run lint
          npm run lint:types
        env:
          CI: true

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Deno lint
        run: deno lint
      - name: Deno check
        run: deno task check
